<div class="card" style="margin-top:80px">
<div class="card-header">JSON Save Data</div>
<div class="card-body">
<textarea name="JSONData" cols="75" ng-model="saveData.input"/></textarea><br>
</div>
<div class="card-footer">
	<input type="submit" class="btn btn-secondary" style="float:left;" value="Back"/>
	<!-- <input type="submit" class="btn btn-default" style="float:right;" value="Submit" ng-click=""/> -->
	<a href="#!answering" class="btn btn-secondary" style="float:right;" ng-click="saveData.load()"/>Load</a>
</div>
</div>

<!-- https://itsolutionstuff.com/post/how-to-copy-to-clipboard-without-flash-in-angularjs-example.html-->
<div class="card" style="margin-top:80px">
<div class="card-header">Current Save Data. Copy down and paste into next session</div>
<div class="card-body">
<input id="savedata" value="{{questions}}"/><!--{{questions}}-->
</div>
<div class="card-footer">
	<!--<input type="button" class="btn btn-secondary" style="float:right;" ng-click="" value="Download"/>-->
	<button class="btn btn-secondary" ngclipboard data-clipboard-target="#savedata">Copy to clipboard
	</button>
</div>
</div>