<div class="card" style="margin-top:80px">
<div class="card-header">Questions</div>
<div class="card-body">

<div class="alert alert-secondary alert-dismissible fade show" role="alert" ng-repeat="Q in length(questions)">
  <span>{{questions[Q].paper}} {{questions[Q].q_id}}: {{questions[Q].question}}</span>
  <button class="btn btn-secondary" ng-click="questions[Q].step=1;">Reset</button>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <!--https://www.w3schools.com/js/js_array_methods.asp-->
    <span aria-hidden="true" ng-click="questions.splice(Q,1);">&times;</span>
  </button>
</div>

</div>
<div class="card-footer">
	<a href="#\!" class="btn btn-secondary" style="float:left;">Main</a>
	<a href="#!finding/pick" role="button" class="btn btn-secondary" style="float:left;">Add More</a>
	<a href="#!answering" role="button" class="btn btn-secondary" style="float:right;" ng-click="again();">OK</a>
	<button class="btn btn-secondary" style="float:right;" ng-click="questions = [];">Clear</button>
</div>
</div>