<style>
</style>

<div class="card" style="margin-top:80px">
<div class="card-header">Random Selection Criteria</div>
<div class="card-body" ng-init="random.way = {};">
    <h5 style="display:inline;white-space:pre-wrap;">Amount  </h5>
    <input type="number" name="Amount" min="1" 
    ng-model="random.way.quantity" ng-init="random.way.quantity=1;">
    <hr/>
    <h5>Types</h5>
    <input type="radio" ng-model="random.way.type" value="-"/>
    Nil<br>
    <span ng-repeat="i in length(random.type)" ng-init="random.way.type='-';">
                <input type="radio" ng-model="random.way.type" value="{{random.type[i]}}"/>
                {{random.type[i]}}<br></span>
    <hr/>
    <h5>Filters</h5>
    <div  ng-init="search.updateTags();">
        <div ng-repeat="tag in findKeys(search.tags)">
            <b>{{tag}}</b><br>
            <span ng-repeat="name in search.tags[tag]">
                <input type='checkbox' 
                ng-model="search.tagSelect[tag][name]"/>  {{name}}<br>
            </span>
        </div>
    </div>

</div>
<div class="card-footer">
    <a href="#!" role="button" class="btn btn-secondary" style="float:left;">Back</a>
    <!-- <input type="submit" class="btn btn-default" style="float:right;" value="Submit" ng-click=""/> -->
    <a href="#!listing" role="button" class="btn btn-secondary" style="float:right;" ng-click="random.find();">Find</a>
</div>
</div>

