<div class="card" style="margin-top:80px">
<div class="card-header">JSON Data</div>
<div class="card-body">
<textarea name="JSONData" cols="100" ng-model="hi"/></textarea><br>
</div>
<div class="card-footer">
	<input type="submit" class="btn btn-default" style="float:left;" value="Back"/>
	<!-- <input type="submit" class="btn btn-default" style="float:right;" value="Submit" ng-click=""/> -->
	<input type="reset" class="btn btn-default" style="float:right;" value="OK" ng-click=""/>
</div>
</div>
