<div class="card" style="margin-top:80px">
<div class="card-header">Select Questions</div>
<div class="card-body">
	<!--<div class="container"><div class="row">
		<div class="col" ng-repeat="image in Q.images"><img src="{{image}}" alt="No Related image of question here"/></div>
	</div></div> -->
	<input type="submit" class="btn btn-default" value="By Question"/>
	<input type="submit" class="btn btn-default" value="Random By Criteria" ng-click=""/>
	<input type="submit" class="btn btn-default" value="JSON Data" ng-click=""/>
</div>
</div>
