<div class="card" style="margin-top:80px">
<div class="card-header">Picking Subject</div>
<div class="list-group">
      <a ng-href="#!finding/pick/subject" ng-click="updatePapers(S);" class="list-group-item" ng-repeat="S in picking.subjects">{{S}}</a>
     </div>
<div class="card-footer">
	<a href="#!" class="btn btn-secondary" style="float:left;" role="button">Back</a>
	<!-- <input type="submit" class="btn btn-default" style="float:right;" value="Submit" ng-click=""/>-->
	<a href="#!finding/pick" role="button" class="btn btn-secondary" style="float:right;">OK</a> 
</div>
</div>
