<div class="card" style="margin-top:80px">
<div class="card-header">Picking Question</div>
<div class="list-group">
      <a ng-click="" class="list-group-item" ng-repeat="Q in picking.questions">{{Q.paper}} {{Q.q_id}}: {{Q.question}} about {{Q.topics}}</a>
     </div>
<div class="card-footer">
	<a href="#!finding/pick/subject" class="btn btn-secondary" style="float:left;" role="button">Back</a>
	<!-- <input type="submit" class="btn btn-default" style="float:right;" value="Submit" ng-click=""/> -->
	<a href="#!finding/listing" role="button" class="btn btn-secondary" style="float:right;">OK</a>
</div>
</div>