<div class="card" style="margin-top:80px">
<div class="card-header">Picking Paper</div>
<div class="list-group">
      <a ng-href="#!finding/pick/subject/paper" ng-click="updateQuestions(picking.subject,P.paper);" class="list-group-item" ng-repeat="P in picking.papers">{{P.paper}}</a>
     </div>
<div class="card-footer">
	<a href="#!finding/pick" class="btn btn-secondary" style="float:left;" role="button">Back</a>
	<!-- <input type="submit" class="btn btn-default" style="float:right;" value="Submit" ng-click=""/> -->
	<a href="#!finding/listing" role="button" class="btn btn-secondary" style="float:right;">OK</a>
</div>
</div>