<div class="card" style="margin-top:80px">
<div class="card-header">By Question</div>
<div class="list-group">
      <a href="#" class="list-group-item" ng-repeat="S in subjects">{{S}}</a>
     </div>
<div class="card-footer">
	<a class="btn btn-light" style="float:left;" href="#!" role="button">Back</a>
	<!-- <input type="submit" class="btn btn-default" style="float:right;" value="Submit" ng-click=""/> -->
	<a href="#!" role="button" class="btn btn-light" style="float:right;">OK</a>
</div>
</div>
