<!-- question.html -->
<div class="card" style="margin-top:80px" ng-show="Q.step == 1" ng-repeat="Q in questions">
<div class="card-header">Question {{Q.id+1}}: From {{Q.paper}}</div>
<div class="card-body">
	<!-- https://stackoverflow.com/questions/4853898/display-pdf-within-web-browser -->
	<object ng-show="Q.pdf != None" ng-repeat="pdf in length(Q.pdf)" data="{{Q.pdf[pdf]}}" type='application/pdf' width="100%" height="100%"></object>
	<div ng-repeat="pdf in length(Q.pdf)">
		<a href="{{Q.pdf[pdf]}}" ng-show="Q.pdf != None">PDF Link {{pdf+1}}</a>
	</div>
	<!-- <div class="container"><div class="row"> -->
	<div style="overflow-y: scroll;height:80%;width:100%;" ng-repeat="image in Q.images">
		<a href="{{Q.images[image]}}" target="_blank"><img src="{{image}}" alt="No Related image of question here"/></a>
	</div>
	<!-- </div></div> -->
	<p>{{Q.q_id}}: {{Q.question}} <b>[{{questionScore(Q.marks)}}]</b></p>
	<!-- Input Types -->
	<div ng-show="Q.type == 'mcq'" ng-repeat="given in length(Q.given)" >
		<input name="{{Q.id}}_" type='radio' ng-model="Q.answer[0]" value="{{Q.given[given]}}"/>{{Q.given[given]}}<br>
	</div>
	<div ng-show="Q.type == 'blank'" ng-repeat="given in length(Q.given)">
		<input name="{{Q.id}}_{{given}}" type='text' ng-model="Q.answer[given]"/><br>
	</div>
	<div ng-show="Q.type == 'open'" ng-repeat="given in length(Q.given)">
		<textarea name="{{Q.id}}_{{given}}" ng-model="Q.answer[given]"/></textarea><br>
		<!--<div contenteditable name="{{Q.id}}_{{given}}" ng-bind-html="Q.answer[given]">HI</div>-->
	</div>
	Working Area:<br>
	<textarea ng-model="Q.workingArea"/></textarea><br>
</div>
<div class="card-footer">
	<input type="submit" class="btn btn-secondary" style="float:left;" value="Quit"/>
	<input type="submit" class="btn btn-secondary" style="float:right;" value="Submit" ng-click="Q.step = Q.step + 1;marking(Q.id);"/>
	<!--<input type="reset" class="btn btn-secondary" style="float:right;" value="Reset" ng-click="again();"/>-->
</div>
</div>
