@media screen and (min-width: 600px){
	.card{margin:auto;}
	object{width:100%;height:100%;}
}
@media screen and (min-width: 800px){
	.card{margin:auto;width: 90%;}
	.card-body{
		display:grid;
		grid-template-columns: 68% 32%;
		grid-column-gap: 0.5em;
	}
	object{width:100%;}
	.result{
		grid-column:span 2;
	}
}
.question-viewing{
	overflow-y: scroll;
	height:30em;
}
