object{height:60vh;}
.question-viewing{overflow-y: auto;max-height:65vh;}
.question-answering{overflow-y: auto; max-height:35vh;}
textarea{min-height:10vh;}
@media screen and (min-width: 600px){
    .card{margin:auto;}
    object{width:100%;}
}
@media screen and (min-width: 800px){
    .card{margin:auto;width: 90%;}
    .card-body{
        display:grid;
        grid-template-columns: auto 37%;
        grid-column-gap: 0.5em;
    }
    object{width:95%;}
    .question-answering{max-height:65vh;}
    .result{
        grid-column:span 2;
    }
    .wide{
        grid-column:span 2;
    }
}

