object{height:60vh;}
.question-viewing{overflow-y: auto;max-height:65vh;}
/*.question-answering{overflow-y: auto; max-height:35vh;}*/
textarea{min-height:10vh;}

.table{font-size:0.75em;}
.show-when-small{display:inline;}
.hide-when-small{display:none;}

@media screen and (min-width: 600px){
    .card{margin:auto;}
    object{width:100%;}
}
@media screen and (min-width: 800px){
    .card{margin:auto;width: 90%;}
    .card-body{
    }
    object{width:95%;}
    /*.question-answering{max-height:65vh;}*/
	.table{font-size:1em;}
	.hide-when-small{display:inline;}
	.show-when-small{display:none;}
}

